<h2>Search</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item active "
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{
      exact: true
      }">
    For country
  </li>
  <li class="list-group-item"
      routerLink="/city"
      routerLinkActive="active" >
    For city
  </li>
  <li class="list-group-item"
      routerLink="/capital"
      routerLinkActive="active" >
    For capital
  </li>
</ul>
