<h2>Search Capital</h2>
<hr/>
<div class="row">
  <div class="col">
    <app-city-input
      (onEvent)="searchCapital($event)"
      placeholderTitle="Search Capital..."
    ></app-city-input>
  </div>
</div>
<hr/>
<div *ngIf="notFound" class="alert alert-danger">
  Not found in term {{term}}
</div>
<div class="row">
  <div class="col">
    <app-city-table [resultCountry]="resultCapital"></app-city-table>
  </div>
</div>
