<div *ngIf="!country; else country_template" class="alert alert-info">
  What moment pless...
</div>

<ng-template #country_template>
  <div class="animate__animated animate__fadeIn animate__faster">
  <div class="row" >
    <div class="col-8">
      <h3>Country: <small>{{country.name}}</small></h3>
      <h6>Capital: <small>{{country.capital}}</small></h6>
    </div>
    <div class="col-3">
      <h5>Flag: </h5>
      <img [src]="country.flag" [alt]="country.name" class="flag_with">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <ul class="list-details-country">
        <li><small>Population: </small>{{country.population | number}}</li>
        <li><small>Currency: </small>
        <ul class="list-children-country">
          <li *ngFor="let currency of country.currencies">
            <p><small>Code: </small> {{currency.code}}</p>
            <p><small>Name: </small> {{currency.name}}</p>
            <p><small>Symbol: </small> {{currency.symbol}}</p>
          </li>
        </ul>
        </li>
        <li><small>Calling Code: </small> {{country.callingCodes}}</li>
      </ul>
    </div>
  </div>
  </div>

</ng-template>
