<h3>Search Region <small>Region active {{regionActive | titlecase}} </small></h3>
<hr/>
<h5>Select of region</h5>
<div class="row">
  <div class="col list-btn">
    <!-- [class.active]="region === regionActive"-->
    <!-- [ngClass]="{
            'active': region === regionActive,
                   '': region != regionActive
            }"-->
    <button *ngFor="let region of regions"
            [class]="getClassRegion(region)"
            (click)="activeRegion(region)"
    >{{region  | titlecase}}</button>

    <app-city-table [resultCountry]="dataRegion"></app-city-table>

  </div>
</div>
