<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Bandera</th>
    <th>Nombre</th>
    <th>Población</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <tr class="animate__animated  animate__fadeIn" *ngFor="let country of resultCountry; let i = index">
    <td>{{i}}</td>
    <td>
      <img [src]="country.flag" [alt]="country.name" class="img-fluid img-thumbnail flag_with" ></td>
    <td>{{country.name}}</td>
    <td>{{country.population | number}}</td>
    <td>
      <a [routerLink]="['/country', country.alpha2Code]">Show Country</a>
    </td>
  </tr>
  </tbody>
</table>
