<h2>Search Country</h2>
<hr/>
<div class="row">
  <div class="col">
   <app-city-input
    (onEvent)="searchCountry($event)"
    (onDebounce)="subjectCountry($event)"
    placeholderTitle="Search Country..."
   ></app-city-input>
  </div>
</div>

<ul class="list-group">
  <li *ngFor="let subj of subjCountry" class="list-group-item">
    <a
      class="nav-link"
      [routerLink]="['/country', subj.alpha2Code]"
    >  {{subj.name}} </a>
  </li>
</ul>

<hr/>
<div *ngIf="notFound" class="alert alert-danger">
  Not found in term {{term}}
</div>
<div class="row">
  <div class="col">
    <app-city-table [resultCountry]="resultCountry"></app-city-table>
  </div>
</div>
